# fly.toml app configuration file generated for skincare-withered-glitter-1420 on 2025-11-06T02:49:16+08:00

app = "skincare-withered-glitter-1420"
primary_region = "sin"

[build]
  dockerfile = "./Dockerfile"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = "stop"
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]

[[vm]]
  memory = "1gb"
  cpu_kind = "shared"
  cpus = 1
